<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Lite-Anvil</string>
	<key>CFBundleDisplayName</key>
	<string>Lite-Anvil</string>
	<key>CFBundleIdentifier</key>
	<string>com.lite-anvil.LiteAnvil</string>
	<key>CFBundleVersion</key>
	<string>0.19.3</string>
	<key>CFBundleShortVersionString</key>
	<string>0.19.3</string>
	<key>CFBundleExecutable</key>
	<string>lite-anvil</string>
	<key>CFBundleIconFile</key>
	<string>lite-anvil.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Text Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>public.utf8-plain-text</string>
				<string>public.utf16-plain-text</string>
				<string>public.source-code</string>
				<string>public.c-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-source</string>
				<string>public.c-plus-plus-header</string>
				<string>public.objective-c-source</string>
				<string>public.swift-source</string>
				<string>public.assembly-source</string>
				<string>public.script</string>
				<string>public.shell-script</string>
				<string>public.python-script</string>
				<string>public.ruby-script</string>
				<string>public.perl-script</string>
				<string>public.php-script</string>
				<string>public.json</string>
				<string>public.xml</string>
				<string>public.html</string>
				<string>public.css</string>
				<string>public.yaml</string>
				<string>public.comma-separated-values-text</string>
				<string>com.netscape.javascript-source</string>
				<string>com.sun.java-source</string>
				<string>org.khronos.glsl-source</string>
				<string>public.log</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
				<string>log</string>
				<string>conf</string>
				<string>cfg</string>
				<string>ini</string>
				<string>env</string>
				<string>c</string>
				<string>h</string>
				<string>cpp</string>
				<string>cxx</string>
				<string>cc</string>
				<string>hpp</string>
				<string>hxx</string>
				<string>cs</string>
				<string>java</string>
				<string>py</string>
				<string>pyw</string>
				<string>rb</string>
				<string>pl</string>
				<string>pm</string>
				<string>sh</string>
				<string>bash</string>
				<string>zsh</string>
				<string>fish</string>
				<string>lua</string>
				<string>go</string>
				<string>rs</string>
				<string>swift</string>
				<string>kt</string>
				<string>kts</string>
				<string>scala</string>
				<string>hs</string>
				<string>lhs</string>
				<string>lisp</string>
				<string>cl</string>
				<string>el</string>
				<string>scm</string>
				<string>clj</string>
				<string>cljs</string>
				<string>cljc</string>
				<string>edn</string>
				<string>ex</string>
				<string>exs</string>
				<string>erl</string>
				<string>ml</string>
				<string>mli</string>
				<string>fs</string>
				<string>fsi</string>
				<string>fsx</string>
				<string>cr</string>
				<string>zig</string>
				<string>dart</string>
				<string>jl</string>
				<string>r</string>
				<string>R</string>
				<string>d</string>
				<string>gleam</string>
				<string>html</string>
				<string>htm</string>
				<string>css</string>
				<string>scss</string>
				<string>less</string>
				<string>js</string>
				<string>mjs</string>
				<string>cjs</string>
				<string>ts</string>
				<string>tsx</string>
				<string>jsx</string>
				<string>vue</string>
				<string>svelte</string>
				<string>xml</string>
				<string>svg</string>
				<string>yaml</string>
				<string>yml</string>
				<string>toml</string>
				<string>json</string>
				<string>jsonc</string>
				<string>md</string>
				<string>markdown</string>
				<string>sql</string>
				<string>php</string>
				<string>csv</string>
				<string>tsv</string>
				<string>diff</string>
				<string>patch</string>
				<string>asm</string>
				<string>s</string>
				<string>S</string>
				<string>ps1</string>
				<string>psm1</string>
				<string>psd1</string>
				<string>cmake</string>
				<string>Makefile</string>
				<string>makefile</string>
				<string>mk</string>
				<string>meson</string>
				<string>fstab</string>
				<string>gitignore</string>
				<string>gitattributes</string>
				<string>editorconfig</string>
				<string>dockerignore</string>
				<string>Dockerfile</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
